body {
  display: grid;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
}

h1 {
  padding-top: 2%;
  color: gray;
}

h5 {
  padding-top: 10px;
  color: gray;
  margin: 15px;
}

#temporizador {
  font-weight: medium;
  color: white;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.btn-primary {
  background-color: #f8ab04;
  border: none;
}

.btn-primary:hover {
  background-color: #d19004;
}

.btn {
  border-radius: 150px;
}

#almacenarTiempos {
  color: whitesmoke;
  padding-right: 30px;
  margin-top: 30px;
}

.icon {
  font-size: 50px;
  justify-content: center;
  display: none;
}

.circulo {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 20px solid green;
}

.circulo {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding: 3%;
  margin-bottom: 20px;
}

.circulo > #temporizador {
  font-family: 'Roboto Mono', monospace;
  font-size: 35px;
  color: white;
  font-weight: medium;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 720px) {
  body {
    background-color: #f3f3f3f3;
  }

  button {
    border: none;
  }

  button:focus {
    outline: none;
  }

  .icon {
    display: block;
    font-size: 45px;
    padding: 0 20px 0 20px;
  }

  .btn {
    display: none;
  }

  h1 {
    font-size: 2.2rem;
    color: #4f004b;
  }

  h5 {
    padding-top: 0;
    font-size: medium;
    color: #4f004b;
  }

  .circulo {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 22px solid #4f004b;
  }

  .circulo > #temporizador {
    font-family: 'Roboto Mono', monospace;
    font-size: 35px;
    color: #4f004b;
    font-weight: bold;
    margin-top: 40px;
  }
}
